@import "../../style.scss";

.liked {
    @include themify($themes) {
        background-color: themed("bgSoft");
        padding: 20px 50px;       

        @include tablet {
            padding: 20px;
        }

        @include mobile {
            padding: 50px 20px;
        }
    }
}